# MATCH
**/*cache*
**/*debug*
**/*build*
**/*dist*
**/*venv*
**/.*
!.gitignore
**/*tool*

# OTHER
**/*.py[cod]
**/*.so
**/*.egg
**/*.egg-info
**/*.code-workspace
**/*.bak

# DS Store files
*.DS_Store

